<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container"> 

    <hr>
    <h2>Fichas Técnicas</h2> 
    <a class="btn btn-success" href="/fichas/new"> Inserir Nova Ficha Técnica</a>
    <hr>

    <div id="plotly">

    </div>

    <select name="maquinas" id="maquinas"  class="form-control">
        <option > Selecione uma máquina</option>
        <% maquinas.forEach((maquina) => { %>

                <option value="<%= maquina.id %>"> <%= maquina.descricao %></option>

        <% }) %>

    </select>
<br>


    
    <table class="table table-bordered" id="parametros"> 
        <thead>
            <tr>
                <th> Parâmetro </th>
                <th> Valor Mínimo </th>
                <th> Valor Máximo </th>
                <th> Último valor medido </th>             
            </tr>
        </thead>
        <tbody>

           
           
           
        </tbody>


    </table>


</div>

<script>

    function confirmarDelecao(event,form){
        event.preventDefault();
        var decision = confirm("Você quer deletar esta Máquina?");
         if(decision){
             form.submit();
         }

    }

</script>

<script src=/scripts/jquery.js></script>
<script src=/scripts/FichaScripts.js></script>
<%- include ('../partials/footer.ejs') %>   