<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container-fluid"> 

   <br>
   <h2>Ficha Técnica - Parâmetros Reais</h2> 
   <div>
      <a class="btn btn-success" href="/novaficha"> Inserir Nova Ficha Técnica</a>
      <a class="btn btn-success" href="/ficha/lista"> Lista de Fichas Técnicas</a>
      <button class="btn btn-warning" onclick="showSelect()">Comparar Valores</button>
   </div>
   <hr>   
   
   <div id="selectMaquina">
      <h5>Selecione uma máquina: </h5>
      <input type="hidden" name="dsMaquina"  id="dsMaquina" value="<%= dsMaquina %>">
   
      <select name="maquinas" id="maquinas"  class="form-control">
         <option value="0"> Selecione uma máquina</option>
         <% maquinas.forEach((maquina) => { %>
            <option value="<%= maquina.id %>"> <%= maquina.descricao %></option>
         <% }) %>
      </select>
   </div>
   <br>
   
   <!-- STATUS MAQUINA - DADOS INJET -->
   <div id="injet">
      <section id="dadosInjet" class="d-flex flex-column align-items-center border border-5 rounded"">
      </section>
   </div>
   <br>

   <div id="nav"></div>
   <br>

   <br>
   <div id="setDate">
      <label style="font-weight: 600;" for="data">Filtrar por data:</label>
      <input type="date" id="data">
      <button class="btn btn-primary" onclick="getDate()">Enviar</button>
   </div>
   <br>

   <!-- <h5>Alertas Abertos : </h5>
   <br>
   <table class="table table-bordered" id="alertas"> 
      <thead>
         <tr>
            <th> Descrição dos Alertas: </th>
         </tr>
      </thead>
      <tbody>
      </tbody>
   </table>
   <br>

   <h5>Parâmetros de tempo real : </h5>
   <br>
   <table class="table table-bordered" id="parametrosReais"> 
      <thead>
         <tr>
            <th> Parâmetro </th>
            <th> Valor Mínimo </th>
            <th> Valor Máximo </th>
            <th> Último valor lido </th>             
         </tr>
      </thead>
      <tbody>
      </tbody>
   </table> -->
    
   <!-- <h5>Parâmetros De Programa: </h5> -->
   <br>
   <div id="main">
      <table class="table table-bordered" id="parametros"> 
         <thead>
            <tr>
               <th> Parâmetro </th>
               <th> Valor Mínimo </th>
               <th> Valor Máximo </th>
               <th> Último valor setado </th>             
            </tr>
         </thead>
         <tbody>
         </tbody>
      </table>
   
      <div id="ficha">
         <%- include ('./indexFicha.ejs') %>
      </div>
   </div>

   <!-- <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
         <div id="plotly"></div>
      </div>
   </div> -->

   <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-body">
            <div id="plotly"></div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
         </div>
      </div>
      </div>
   </div>

</div>
<br>
<br>

<script>

    function confirmarDelecao(event,form){
        event.preventDefault();
        var decision = confirm("Você quer deletar esta Máquina?");
         if(decision){
             form.submit();
         }

    }

</script>

<script src=/scripts/jquery.js></script>
<!-- <script src=/scripts/FichaScripts.js></script> -->
<!-- <script src=/scripts/FichaScripts2.js></script> -->
<script src=/scripts/documentScripts.js></script>
<script src=/scripts/paramsScriptPam.js></script>

<%- include ('../partials/footer.ejs') %>   