<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container"> 

    <hr>
    <h2>Fichas Técnicas</h2> 
    <a class="btn btn-success" href="/fichas/new"> Inserir Nova Ficha Técnica</a>
    <hr>

   

    <select name="maquinas" id="maquinas"  class="form-control">
        <option > Selecione uma máquina</option>
        <% maquinas.forEach((maquina) => { %>

                <option value="<%= maquina.id %>"> <%= maquina.descricao %></option>

        <% }) %>

    </select>
<br>


    <labe id="prodShot" style="margin-right: 4%; font-size: 20px; font-weight:bold;" data-toggle="modal" data-target="#myModal"> Production Shot :</labe>
    <labe id="cycleTime"style="margin-right: 4%; font-size: 20px; font-weight:bold;" data-toggle="modal" data-target="#myModal"> Cycle Time :</labe>
    <labe id="dwellPressure"style="margin-right: 4%; font-size: 20px; font-weight:bold;" > Dwell Pressure :</labe>
    <labe id="ok_prodShot"style="margin-right: 4%; font-size: 20px; font-weight:bold;" > OK ProdShot :</labe>
    <br>
    <labe id="fillingTime"style="margin-right: 4%; font-size: 20px; font-weight:bold;" > Filling Time :</labe>
    <labe id="chargingTime"style="margin-right: 4%; font-size: 20px; font-weight:bold;" > Charging Time :</labe>  
    <labe id="takeoutTime"style="margin-right: 3%; font-size: 20px; font-weight:bold;" > Take Out Time :</labe>  
    <labe id="dwellChnagePosition"style="margin-right: 4%; font-size: 20px; font-weight:bold;" > Dwell Change Position :</labe> 
    <br>
    <labe id="cushionPosition"style="margin-right: 4%; font-size: 20px; font-weight:bold;" > Cushion Position:</labe>
    <labe id="minumumCushionPosition"style="margin-right: 4%; font-size: 20px; font-weight:bold;" > Minimum Cushion Position :</labe>  
    <labe id="injetStartPosition"style="margin-right: 4%; font-size: 20px; font-weight:bold;" > Injet Start Position :</labe>  
    <br>
    <labe id="maxInjectPressure"style="margin-right: 4%; font-size: 20px; font-weight:bold;" > Max Inject Pressure:</labe>  
    <labe id="screwRotationSpeed"style="margin-right: 4%; font-size: 20px; font-weight:bold;" > Screw Rotation Speed :</labe>  


    <br>
    <br>
    <table class="table table-bordered" id="parametros"> 
        <thead>
            <tr>
                <th> Parâmetro </th>
                <th> Valor Mínimo </th>
                <th> Valor Máximo </th>
                <th> Último valor medido </th>             
            </tr>
        </thead>
        <tbody>

           
           
           
        </tbody>


    </table>


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->

          <div id="plotly">

        </div>
         
      
        </div>
      </div>


</div>

<script>

    function confirmarDelecao(event,form){
        event.preventDefault();
        var decision = confirm("Você quer deletar esta Máquina?");
         if(decision){
             form.submit();
         }

    }

</script>

<script src=/scripts/jquery.js></script>
<script src=/scripts/FichaScripts.js></script>

<%- include ('../partials/footer.ejs') %>   