<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container"> 

   <br>
   <h2>Lista de Fichas Técnicas</h2> 
   <a class="btn btn-success" href="/novaficha"> Inserir Nova Ficha Técnica</a>
   <a class="btn btn-success" href="/ficha/lista"> Lista de Fichas Técnicas</a>
   <hr>

   <h5>Selecione uma máquina:</h5>
   <select  name="maquinasList" id="maquinasList" class="form-control">
      <option value="0"> Selecione uma máquina</option>
      <% maquinas.forEach((maquina) => { %>
         <option value="<%= maquina.id %>,<%= maquina.tipo.tipo %>">
            <%= maquina.descricao %> - <%= maquina.tipo.tipo %>
         </option>
      <% }) %>
   </select>   
   <br>

   <h5 class="moldes">Filtre por molde:</h5>
   <select name="moldes" id="moldes" class="form-control moldes">
      <option value="0">Filtre por Molde</option>
      <% moldes.forEach((molde) => { %>
         <option value="<%= molde.descricao %>">
            <%= molde.descricao %>
         </option>
      <% }) %>
   </select>   
   <br>

   <h5 class="materiais">Filtre por material:</h5>
   <select name="materiais" id="materiais" class="form-control materiais">
   </select>   
   <br>

   <table id="fichaTable" class="table table-bordered"> 
      <thead>
         <tr>
            <th> Id Ficha Técnica </th>
            <th> Id Máquina </th>
            <th> Máquina </th>
            <th> Molde </th>
            <th> Material </th>
         </tr>
      </thead>
      <tbody id="tableBody">
      </tbody>
  </table>
</div>

<script>
   function confirmarDelecao(event,form){
      event.preventDefault();
      var decision = confirm("Você quer realmente deletar esta Ficha Técnica?");
      if(decision){
         form.submit();
      }
   }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src=/scripts/FichaTecnica.js></script>
<%- include ('../partials/footer.ejs') %>