<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container-fluid">
   <br>
   <form method="GET" action="/fichas" style="display: inline;">
      <button class="btn btn-info" style="width: 70px;">
         <i class="fa fa-arrow-left" title="Voltar"></i>
      </button>
   </form>
   <br>
   <br>
   <a class="btn btn-success" href="/novaficha"> Inserir Nova Ficha Técnica</a>
   <a class="btn btn-success" href="/ficha/lista"> Lista de Fichas Técnicas</a>
   <hr>
   
   <div class="card">
      <div class="card-header">
         <h2>Nova Ficha Técnica</h2>
      </div>
      
      <div class="card-body">
         <h5>Selecione uma máquina:</h5>
         <select id="maquinasId" name="maquinasId" class="form-control">
            <option > Selecione uma máquina</option>
            <% maquinas.forEach((maquina) => { %>
               <option value='<%= maquina.id %>,<%= maquina.tipo.tipo %>'><%= maquina.descricao %> - <%= maquina.tipo.tipo %></option>
            <% }) %>
         </select>
         <br>

         <div id="pastore">
            <%- include ('./newFichaHaitian.ejs') %>
         </div>
         
         <div id="toshiba">
            <%- include ('./newFichaToshiba.ejs') %>
         </div>
      </div>
   </div>
   <br>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src=/scripts/FichaTecnica.js></script>
<script src=/scripts/documentScripts.js></script>
<%- include ('../partials/footer.ejs') %>