<form name="pamForm" method="POST" action="/fichas/createHaitian" onsubmit="return validateForm()">
   <select style="display:none" id="maquinaHaitian" name="maquinaHaitian" class="form-control">
      <option > Selecione uma máquina</option>
      <% maquinas.forEach((maquina) => { %>
         <option value="<%= maquina.id %>"> <%= maquina.descricao %></option>
      <% }) %>
   </select>
   <br>

   <div class="table-ficha">
      <table class="table-bordered table-responsive" style="width: 100%; margin-bottom: 40px;">
         <thead>
            <tr>
               <th><span style="color: red;">*</span>Número do Molde:</th>
               <th>Número da Máquina:</th>
               <th>Cliente:</th>
               <th>Código PAM:</th>
               <th>Técnico:</th>
               <th>Produto:</th>
               <th><span style="color: red;">*</span>Material:</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>
                  <input style="width: 100%" id="molde" name="molde" list="moldeList">
                  <datalist id="moldeList">
                     <% moldes.forEach((molde) => { %>
                        <option value="<%= molde.codigo %>"></option>
                     <% }) %>
                  </datalist>  
               </td>
               <td>
                  <input style="width: 100%" id="numMaquina" name="numMaquina">
               </td>
               <td>
                  <input style="width: 100%" id="cliente" name="cliente">
               </td>
               <td>
                  <input style="width: 100%" id="codigoPAM" name="codigoPAM">
               </td>
               <td>
                  <input style="width: 100%" id="tecnico" name="tecnico">
               </td>
               <td>
                  <input style="width: 100%" id="produto" name="produto">
               </td>
               <td>
                  <input style="width: 100%" id="material" name="material" list="materialList">
                  <datalist id="materialList">
                     <% materiais.forEach((material) => { %>
                        <option value="<%= material.codigo %>"></option>
                     <% }) %>
                  </datalist>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   
   <div class="d-flex justify-content-between">
      <!-- INJETORES -->
      <div class="d-flex flex-column table-responsive table-ficha justify-content-between" style="width: 50vw; margin-right: 20px;">
         <table class="table-bordered" style="width: 100%">
            <thead>
               <tr>
                  <th colspan="2">
                     <select id="tolCilindro" name="tolCilindro" class="form-control">
                        <option value="0.1">TOL &#177; 10%</option>
                        <option value="0.05">TOL &#177; 5%</option>
                     </select>
                  </th>
                  <th colspan="3">CILINDRO</th>
                  <th colspan="2">BICO</th>
               </tr>
               <tr>
                  <% for(var i = 0; i < 7; i++) { %>
                     <th><%= i+1 %></th>
                  <% } %>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <% for(var i = 0; i < 7; i++) { %>
                     <td>
                        <input style="width: 100%" id="cilindro<%= i+1 %>" name="cilindro<%= i+1 %>">
                     </td>
                  <% } %>
               </tr>
            </tbody>
         </table>
   
         <table class="table-bordered" style="width: 100%; margin-top: 40px;">
            <thead>
               <tr>
                  <th colspan="5">INJEÇÃO</th>
                  <th colspan="2">
                     <select id="tolInjecao" name="tolInjecao" class="form-control">
                        <option value="0.1">TOL &#177; 10%</option>
                        <option value="0.05">TOL &#177; 5%</option>
                     </select>
                  </th>
               </tr>
               <tr>
                  <th colspan="2">COMUTAÇÃO</th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <th colspan="1">INJ. <%= i %></th>
                  <% } %>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th scope="row">POSIÇÃO</th>
                  <td colspan="1">
                     <input style="width: 100%" id="posComutacao" name="posComutacao">
                  </td>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="posInj<%= i %>" name="posInj<%= i %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row">PRESSÃO</th>
                  <td colspan="1">
                     <input style="width: 100%" id="presComutacao" name="presComutacao">
                  </td>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="presInj<%= i %>" name="presInj<%= i %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="2">FLUXO</th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="fluxoInj<%= i %>" name="fluxoInj<%= i %>">
                     </td>
                  <% } %>
               </tr>
            </tbody>
            <tfoot>
               <tr>
                  <th colspan="2">TEMPO DISPARO:</th>
                  <td colspan="1">
                     <input style="width: 100%" id="tempoDisparo" name="tempoDisparo">
                  </td>
                  <th colspan="3">TEMPO DE PRESSÃO INJEÇÃO:</th>
                  <td colspan="1">
                     <input style="width: 100%" id="pressaoInj" name="pressaoInj">
                  </td>
               </tr>
            </tfoot>
         </table>
   
         <table class="table-bordered" style="width: 100%; margin-top: 40px;">
            <thead>
               <tr>
                  <th colspan="5">RECALQUE</th>
                  <th colspan="2">
                     <select id="tolRecalque" name="tolRecalque" class="form-control">
                        <option value="0.1">TOL &#177; 10%</option>
                        <option value="0.05">TOL &#177; 5%</option>
                     </select>
                  </th>
               </tr>
               <tr>
                  <th colspan="2">bar / seg / %</th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <th colspan="1">MANT. <%= i %></th>
                  <% } %>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th scope="row" colspan="2">PRESSÃO</th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="presRecalque<%= i %>" name="presRecalque<%= i %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="2">FLUXO</th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="fluxoRecalque<%= i %>" name="fluxoRecalque<%= i %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="2">TEMPO</th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="tempoRecalque<%= i %>" name="tempoRecalque<%= i %>">
                     </td>
                  <% } %>
               </tr>
            </tbody>
         </table>
   
         <table class="table-bordered" style="width: 100%; margin-top: 40px;">
            <thead>
               <tr>
                  <th colspan="5">DOSAGEM</th>
                  <th colspan="2">
                     <select id="tolDosagem" name="tolDosagem" class="form-control">
                        <option value="0.1">TOL &#177; 10%</option>
                        <option value="0.05">TOL &#177; 5%</option>
                     </select>
                  </th>
               </tr>
               <tr>
                  <th colspan="2"></th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <th colspan="1">CARGA. <%= i %></th>
                  <% } %>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th scope="row" colspan="2">PARTIDA</th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="partDosagem<%= i %>" name="partDosagem<%= i %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="2">PRESSÃO</th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="presDosagem<%= i %>" name="presDosagem<%= i %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="2">FLUXO</th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="fluxoDosagem<%= i %>" name="fluxoDosagem<%= i %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="2">CONTRAPRESSÃO</th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="CPDosagem<%= i %>" name="CPDosagem<%= i %>">
                     </td>
                  <% } %>
               </tr>
            </tbody>
            <tfoot>
               <tr>
                  <th colspan="2">TEMPO:</th>
                  <td colspan="5">
                     <input style="width: 100%" id="tempoDosagem" name="tempoDosagem">
                  </td>
               </tr>
            </tfoot>
         </table>
   
         <table class="table-bordered" style="width: 100%; margin-top: 40px;">
            <thead>
               <tr>
                  <th colspan="5">DESCOMPRESSÃO</th>
                  <th colspan="2">
                     <select id="tolDescompressao" name="tolDescompressao" class="form-control">
                        <option value="0.1">TOL &#177; 10%</option>
                        <option value="0.05">TOL &#177; 5%</option>
                     </select>
                  </th>
               </tr>
               <tr>
                  <th colspan="3">DESCOMPRIMIR</th>
                  <th colspan="1">POSIÇÃO</th>
                  <th colspan="1">PRESSÃO</th>
                  <th colspan="1">FLUXO</th>
                  <th colspan="1">TEMPO</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th colspan="3">ANTES</th>
                  <% for(var i = 0; i < 4; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="antes<%= i+1 %>" name="antes<%= i+1 %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th colspan="3">DEPOIS</th>
                  <% for(var i = 0; i < 4; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="depois<%= i+1 %>" name="depois<%= i+1 %>">
                     </td>
                  <% } %>
               </tr>
            </tbody>
         </table>
   
         <table class="table-bordered" style="width: 100%; margin-top: 40px;">
            <thead>
               <tr>
                  <th colspan="5">FECHAMENTO</th>
                  <th colspan="2">
                     <select id="tolFechamento" name="tolFechamento" class="form-control">
                        <option value="0.1">TOL &#177; 10%</option>
                        <option value="0.05">TOL &#177; 5%</option>
                     </select>
                  </th>
               </tr>
               <tr>
                  <th colspan="2"></th>
                  <% for(var i = 1; i <= 3; i++) { %>
                     <th colspan="1">FECHA. <%= i %></th>
                  <% } %>
                  <th colspan="1">PROT.M</th>
                  <th colspan="1">ALTA PRESSÃO</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th scope="row" colspan="2">POSIÇÃO</th>
                  <% for(var i = 0; i < 3; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="posFecha<%= i+1 %>" name="posFech<%= i+1 %>">
                     </td>
                  <% } %>
                  <td colspan="1">
                     <input style="width: 100%" id="protMPos" name="protMPos">
                  </td>
                  <td colspan="1">
                     <input style="width: 100%" id="AltaPresPos" name="AltaPresPos">
                  </td>
               </tr>
               <tr>
                  <th scope="row" colspan="2">PRESSÃO</th>
                  <% for(var i = 0; i < 3; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="presFecha<%= i+1 %>" name="presFech<%= i+1 %>">
                     </td>
                  <% } %>
                  <td colspan="1">
                     <input style="width: 100%" id="protMPres" name="protMPres">
                  </td>
                  <td colspan="1">
                     <input style="width: 100%" id="AltaPresPressao" name="AltaPresPressao">
                  </td>
               </tr>
               <tr>
                  <th scope="row" colspan="2">FLUXO</th>
                  <% for(var i = 0; i < 3; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="fluxoFecha<%= i+1 %>" name="fluxoFech<%= i+1 %>">
                     </td>
                  <% } %>
                  <td colspan="1">
                     <input style="width: 100%" id="protMFluxo" name="protMFluxo">
                  </td>
                  <td colspan="1">
                     <input style="width: 100%" id="AltaPresFluxo" name="AltaPresFluxo">
                  </td>
               </tr>
            </tbody>
            <tfoot>
               <tr>
                  <th colspan="3">TEMPO PROTEÇÃO DE MOLDE:</th>
                  <td colspan="1">
                     <input style="width: 100%" id="tempoProtMolde" name="tempoProtMolde">
                  </td>
                  <th colspan="2">TEMPO FECHAMENTO:</th>
                  <td colspan="1">
                     <input style="width: 100%" id="tempoFecha" name="tempoFecha">
                  </td>
               </tr>
            </tfoot>
         </table>
   
         <table class="table-bordered" style="width: 100%; margin-top: 40px;">
            <thead>
               <tr>
                  <th colspan="5">ABERTURA</th>
                  <th colspan="2">
                     <select id="tolAbertura" name="tolAbertura" class="form-control">
                        <option value="0.1">TOL &#177; 10%</option>
                        <option value="0.05">TOL &#177; 5%</option>
                     </select>
                  </th>
               </tr>
               <tr>
                  <th colspan="2"></th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <th colspan="1">ABRIR. <%= i %></th>
                  <% } %>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th scope="row" colspan="2">POSIÇÃO</th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="posAbertura<%= i %>" name="posAbertura<%= i %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="2">PRESSÃO</th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="presAbertura<%= i %>" name="presAbertura<%= i %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="2">FLUXO</th>
                  <% for(var i = 5; i >= 1; i--) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="fluxoAbertura<%= i %>" name="fluxoAbertura<%= i %>">
                     </td>
                  <% } %>
               </tr>
            </tbody>
            <tfoot>
               <tr>
                  <th colspan="3">RESFRIAMENTO:</th>
                  <td colspan="1">
                     <input style="width: 100%" id="resfriamento" name="resfriamento">
                  </td>
                  <th colspan="2">TEMPO ABERTURA:</th>
                  <td colspan="1">
                     <input style="width: 100%" id="tempoAbertura" name="tempoAbertura">
                  </td>
               </tr>
            </tfoot>
         </table>
   
         <table class="table-bordered" style="width: 100%; margin-top: 40px;">
            <thead>
               <tr>
                  <th colspan="5">EXTRAÇÃO</th>
                  <th colspan="2">
                     <select id="tolExtracao" name="tolExtracao" class="form-control">
                        <option value="0.1">TOL &#177; 10%</option>
                        <option value="0.05">TOL &#177; 5%</option>
                     </select>
                  </th>
               </tr>
               <tr>
                  <th rowspan="2" colspan="1"></th>
                  <th colspan="3">AVANÇO</th>
                  <th colspan="3">RECUO</th>
               </tr>
               <tr>
                  <% for(var i = 1; i <= 3; i++) { %>
                     <th colspan="1">EXTRAIR. <%= i %></th>
                  <% } %>
                  <% for(var i = 3; i >= 1; i--) { %>
                     <th colspan="1">EXTRAIR. <%= i %></th>
                  <% } %>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th scope="row" colspan="1">POSIÇÃO</th>
                  <% for(var i = 0; i < 3; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="posAvanco<%= i+1 %>" name="posAvanco<%= i+1 %>">
                     </td>
                  <% } %>
                  <% for(var i = 0; i < 3; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="posRecuo<%= i+1 %>" name="posRecuo<%= i+1 %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="1">PRESSÃO</th>
                  <% for(var i = 0; i < 3; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="presAvanco<%= i+1 %>" name="presAvanco<%= i+1 %>">
                     </td>
                  <% } %>
                  <% for(var i = 0; i < 3; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="presRecuo<%= i+1 %>" name="presRecuo<%= i+1 %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="1">FLUXO</th>
                  <% for(var i = 0; i < 3; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="fluxoAvanco<%= i+1 %>" name="fluxoAvanco<%= i+1 %>">
                     </td>
                  <% } %>
                  <% for(var i = 0; i < 3; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="fluxoRecuo<%= i+1 %>" name="fluxoRecuo<%= i+1 %>">
                     </td>
                  <% } %>
               </tr>
            </tbody>
            <tfoot>
               <tr>
                  <th colspan="2">ATRASO:</th>
                  <td colspan="1">
                     <input style="width: 100%" id="atraso" name="atraso">
                  </td>
                  <th colspan="2">BATIDA:</th>
                  <td colspan="2">
                     <input style="width: 100%" id="batida" name="batida">
                  </td>
               </tr>
            </tfoot>
         </table>
   
         <table class="table-bordered" style="width: 100%; margin-top: 40px;">
            <thead>
               <tr>
                  <th colspan="5">RADIAL HIDRÁULICO</th>
                  <th colspan="2">
                     <select id="tolRadial" name="tolRadial" class="form-control">
                        <option value="0.1">TOL &#177; 10%</option>
                        <option value="0.05">TOL &#177; 5%</option>
                     </select>
                  </th>
               </tr>
               <tr>
                  <th rowspan="2" colspan="1"></th>
                  <% for(var i = 1; i <= 3; i++) { %>
                     <th colspan="2">RADIAL</th>
                  <% } %>
               </tr>
               <tr>
                  <% for(var i = 1; i <= 3; i++) { %>
                     <th colspan="1">ENTRADA</th>
                     <th colspan="1">SAÍDA</th>
                  <% } %>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th colspan="1">TYPE</th>
                  <th colspan="1">
                     <select id="typeEntrada1" name="typeEntrada1" class="form-control">
                        <option value="Tempo">TEMPO</option>
                        <option value="Limite">LIMITE</option>
                     </select>
                  </th>
                  <th colspan="1">
                     <select id="typeSaida1" name="typeSaida1" class="form-control">
                        <option value="Limite">LIMITE</option>
                        <option value="Tempo">TEMPO</option>
                     </select>
                  </th>
                  <% for(var i = 0; i < 4; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="type<%= i+1 %>" name="type<%= i+1 %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="1">PRESSÃO</th>
                  <% for(var i = 0; i < 6; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="pressaoRadial<%= i+1 %>" name="pressaoRadial<%= i+1 %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="1">FLUXO</th>
                  <% for(var i = 0; i < 6; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="fluxoRadial<%= i+1 %>" name="fluxoRadial<%= i+1 %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="1">ACT. POSIÇÃO</th>
                  <% for(var i = 0; i < 6; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="posRadial<%= i+1 %>" name="posRadial<%= i+1 %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="1">ACT. TEMPO</th>
                  <% for(var i = 0; i < 6; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="tempoRadial<%= i+1 %>" name="tempoRadial<%= i+1 %>">
                     </td>
                  <% } %>
               </tr>
               <tr>
                  <th scope="row" colspan="1">SCRCOUNT</th>
                  <% for(var i = 0; i < 6; i++) { %>
                     <td colspan="1">
                        <input style="width: 100%" id="scrcount<%= i+1 %>" name="scrcount<%= i+1 %>">
                     </td>
                  <% } %>
               </tr>
            </tbody>
         </table>
      </div>
      <!-- FIM INJETORES -->      
      
      <!-- PERIFÉRICOS -->
      <div class="table-responsive table-ficha d-flex flex-column justify-content-between" style="width: 50vw;">
         <table class="table-bordered" style="width: 100%">
            <tbody>
               <tr>
                  <th colspan="1">TERMOPAR:</th>
                  <td colspan="1">
                     <input checked type="radio" id="termopar" name="termopar" value="K">
                     <label for="termopar">K</label>
                  </td>
                  <td colspan="1">
                     <input type="radio" id="termopar" name="termopar" value="J">
                     <label for="termopar">J</label>
                  </td>
   
                  <th colspan="1">VOLTAGEM:</th>
                  <td colspan="1">
                     <input checked type="radio" id="voltagem" name="voltagem" value="220">
                     <label for="voltagem">220</label>
                  </td>
                  <td colspan="1">
                     <input type="radio" id="voltagem" name="voltagem" value="24">
                     <label for="voltagem">24</label>
                  </td>
               </tr>
            </tbody>
         </table>
         
         <table class="table-bordered" style="width: 100%; margin-top: 40px;">
            <thead>
               <tr>
                  <th colspan="5">CÂMARA QUENTE</th>
                  <th colspan="2">
                     <select id="tolCamara" name="tolCamara" class="form-control">
                        <option value="0.1">TOL &#177; 10%</option>
                        <option value="0.05">TOL &#177; 5%</option>
                     </select>
                  </th>
               </tr>
            </thead>
            <tbody>
               <% for(var j = 0; j < 19; j++) { %>
                  <tr>
                     <% for(var i = 0; i < 7; i++) { %>
                        <% count++ %>
   
                        <% if(count <= 130) { %>
                           <td>
                              <input style="width: 100%" id="camara<%= i+1 %>" name="camara<%= i+1 %>" placeholder="<%= count %>">
                           </td>
                        <% } %>
                     <% } %>
                  </tr>
               <% } %>
            </tbody>
         </table>
         
         <table class="table-bordered" style="width: 100%; margin-top: 40px;">
            <thead>
               <tr>
                  <th colspan="4">VALVE GATES</th>
                  <th colspan="3">
                     <select id="tolValve" name="tolValve" class="form-control">
                        <option value="0.1">TOL &#177; 10%</option>
                        <option value="0.05">TOL &#177; 5%</option>
                     </select>
                  </th>
               </tr>
               <tr>
                  <th colspan="7">SEQUENCIADOR</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th>BICO</th>
                  <th>DLY TIME</th>
                  <th>ACT TIME</th>
                  <th>BICO</th>
                  <th>DLY TIME</th>
                  <th>ACT TIME</th>
               </tr>
               <% count = 0 %>
               <% count2 = 20 %>
               <% for(var j = 0; j < 20; j++) { %>
                  <tr>
                     <!-- lado esquerdo -->
                     <% for(var i = 0; i < 1; i++) { %> 
                        <th>VG<%= j+1 %></th>
                     <% } %>
                     
                     <% for(var i = 0; i < 2; i++) { %>
                        <td>
                           <input style="width: 100%" id="VG1" name="VG1" placeholder="VG<%= j+1 %>">
                        </td>
                     <% } %>
                        
                     <!-- lado direito -->
                     <% for(var i = 0; i < 1; i++) { %>
                        <th>VG<%= ++count2 %></th>
                     <% } %>
                     
                     <% for(var i = 0; i < 2; i++) { %>
                        <td>
                           <input style="width: 100%" id="VG2" name="VG2" placeholder="VG<%= count2 %>">
                        </td>
                     <% } %>
                  </tr>
               <% } %>
            </tbody>
         </table>
   
         <table class="table-bordered" style="margin-top: 40px;">
            <thead>
               <tr>
                  <th colspan="4">REFRIGERAÇÃO DO MOLDE</th>
                  <th colspan="3">
                     <select id="tolRefrigeracao" name="tolRefrigeracao" class="form-control">
                        <option value="0.1">TOL &#177; 10%</option>
                        <option value="0.05">TOL &#177; 5%</option>
                     </select>
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th colspan="3" style="text-align: center;">LADO FIXO</th>
                  <th colspan="3" style="text-align: center;">LADO MÓVEL</th>
               </tr>
               <tr>
                  <!-- LADO FIXO -->
                  <td>
                     <input style="width: 100%" id="rmladofixo1" name="rmladofixo1">
                  </td>
                  <td>
                     <input checked type="radio" id="fixoGelada1" name="fixoRefrig1" value="Gelada">
                     <label for="fixoGelada1">Água Gelada</label>
                  </td>
                  <td>
                     <input type="radio" id="fixoFria1" name="fixoRefrig1" value="Fria">
                     <label for="fixoFria1">Água Fria</label>
                  </td>
                  <!-- LADO MOVEL -->
                  <td>
                     <input style="width: 100%" id="rmladomovel1" name="rmladomovel1">
                  </td>
                  <td> 
                     <input checked type="radio" id="movelGelada1" name="movelRefrig1" value="Gelada">
                     <label for="movelGelada1">Água Gelada</label>
                  </td>
                  <td>
                     <input type="radio" id="movelFria1" name="movelRefrig1" value="Fria">
                     <label for="movelFria1">Água Fria</label>
                  </td>
               </tr>
               <tr>
                  <!-- LADO FIXO -->
                  <td>
                     <input style="width: 100%" id="rmladofixo2" name="rmladofixo2">
                  </td>
                  <td>
                     <input checked type="radio" id="fixoGelada2" name="fixoRefrig2" value="Gelada">
                     <label for="fixoGelada2">Água Gelada</label>
                  </td>
                  <td>
                     <input type="radio" id="fixoFria2" name="fixoRefrig2" value="Fria">
                     <label for="fixoFria2">Água Fria</label>
                  </td>
                  <!-- LADO MOVEL -->
                  <td>
                     <input style="width: 100%" id="rmladomovel2" name="rmladomovel2">
                  </td>
                  <td>
                     <input checked type="radio" id="movelGelada2" name="movelRefrig2" value="Gelada">
                     <label for="movelGelada2">Água Gelada</label>
                  </td>
                  <td>
                     <input type="radio" id="movelFria2" name="movelRefrig2" value="Fria">
                     <label for="movelFria2">Água Fria</label>
                  </td>
               </tr>
               <tr>
                  <!-- LADO FIXO -->
                  <td>
                     <input style="width: 100%" id="rmladofixo3" name="rmladofixo3">
                  </td>
                  <td>
                     <input checked type="radio" id="fixoGelada3" name="fixoRefrig3" value="Gelada">
                     <label for="fixoGelada3">Água Gelada</label>
                  </td>
                  <td>
                     <input type="radio" id="fixoFria3" name="fixoRefrig3" value="Fria">
                     <label for="fixoFria3">Água Fria</label>
                  </td>
                  <!-- LADO MOVEL -->
                  <td>
                     <input style="width: 100%" id="rmladomovel3" name="rmladomovel3">
                  </td>
                  <td>
                     <input checked type="radio" id="movelGelada3" name="movelRefrig3" value="Gelada">
                     <label for="movelGelada3">Água Gelada</label>
                  </td>
                  <td>
                     <input type="radio" id="movelFria3" name="movelRefrig3" value="Fria">
                     <label for="movelFria3">Água Fria</label>
                  </td>
               </tr>
               <tr>
                  <!-- LADO FIXO -->
                  <td>
                     <input style="width: 100%" id="rmladofixo4" name="rmladofixo4">
                  </td>
                  <td>
                     <input checked type="radio" id="fixoGelada4" name="fixoRefrig4" value="Gelada">
                     <label for="fixoGelada4">Água Gelada</label>
                  </td>
                  <td>
                     <input type="radio" id="fixoFria4" name="fixoRefrig4" value="Fria">
                     <label for="fixoFria4">Água Fria</label>
                  </td>
                  <!-- LADO MOVEL -->
                  <td>
                     <input style="width: 100%" id="rmladomovel4" name="rmladomovel4">
                  </td>
                  <td>
                     <input checked type="radio" id="movelGelada4" name="movelRefrig4" value="Gelada">
                     <label for="movelGelada4">Água Gelada</label>
                  </td>
                  <td>
                     <input type="radio" id="movelFria4" name="movelRefrig4" value="Fria">
                     <label for="movelFria4">Água Fria</label>
                  </td>
               </tr>
            </tbody>
         </table>
   
         <table class="table-bordered" style="margin-top: 40px;">
            <thead>
               <tr>
                  <th colspan="4">STEAM(VAPOR)</th>
                  <th colspan="3">
                     <select id="tolVapor" name="tolVapor" class="form-control">
                        <option value="0.1">TOL &#177; 10%</option>
                        <option value="0.05">TOL &#177; 5%</option>
                     </select>
                  </th>
               </tr>
               <tr>
                  <th colspan="7">REFRIGERAÇÃO DO MOLDE</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th colspan="3" style="text-align: center;">LADO FIXO</th>
                  <th colspan="3" style="text-align: center;">LADO MÓVEL</th>
               </tr>
               <tr>
                  <!-- LADO FIXO -->
                  <td colspan="2">
                     <input style="width: 100%" id="vaporladofixo1" name="vaporladofixo1">
                  </td>
                  <td colspan="1">
                     <input checked type="radio" id="fixoAguaF1" name="fixoSteam" value="AguaF1">
                     <label for="fixoAguaF1">Temp. Água Industrial F1</label>
                  </td>

                  <!-- LADO MOVEL -->
                  <td colspan="2">
                     <input style="width: 100%" id="vaporladomovel1" name="vaporladomovel1">
                  </td>
                  <td colspan="1">
                     <input checked type="radio" id="movelAguaF1" name="movelSteam" value="AguaF1">
                     <label for="movelAguaF1">Temp. Água Industrial F1</label>
                  </td>
               </tr>
               <tr>
                  <!-- LADO FIXO -->
                  <td colspan="2">
                     <input style="width: 100%" id="vaporladofixo2" name="vaporladofixo2">
                  </td>
                  <td colspan="1">
                     <input type="radio" id="fixoAguaF2" name="fixoSteam" value="AguaF2">
                     <label for="fixoAguaF2">Temp. Água Industrial F2</label>
                  </td>

                  <!-- LADO MOVEL -->
                  <td colspan="2">
                     <input style="width: 100%" id="vaporladomovel2" name="vaporladomovel2">
                  </td>
                  <td colspan="1">
                     <input type="radio" id="movelAguaF2" name="movelSteam" value="AguaF2">
                     <label for="movelAguaF2">Temp. Água Industrial F2</label>
                  </td>
               </tr>
               <tr>
                  <!-- LADO FIXO -->
                  <td colspan="2">
                     <input style="width: 100%" id="vaporladofixo3" name="vaporladofixo3">
                  </td>
                  <td colspan="1">
                     <input type="radio" id="fixoVaporAgua" name="fixoSteam" value="Gelada">
                     <label for="fixoVaporAgua">Temp. Água Gelada</label>
                  </td>

                  <!-- LADO MOVEL -->
                  <td colspan="2">
                     <input style="width: 100%" id="vaporladomovel3" name="vaporladomovel3">
                  </td>
                  <td colspan="1">
                     <input type="radio" id="movelVaporAgua" name="movelSteam" value="Gelada">
                     <label for="movelVaporAgua">Temp. Água Gelada</label>
                  </td>
               </tr>
               <tr>
                  <!-- LADO FIXO -->
                  <td colspan="2">
                     <input style="width: 100%" id="vaporladofixo4" name="vaporladofixo4">
                  </td>
                  <td colspan="1">
                     <input type="radio" id="fixoVapor" name="fixoSteam" value="Vapor"><br>
                     <label for="fixoVapor">Bar. Vapor</label>
                  </td>

                  <!-- LADO MOVEL -->
                  <td colspan="2">
                     <input style="width: 100%" id="vaporladomovel4" name="vaporladomovel4">
                  </td>
                  <td colspan="1">
                     <input type="radio" id="movelVapor" name="movelSteam" value="Vapor"><br>
                     <label for="movelVapor">Bar. Vapor</label>
                  </td>
               </tr>
               <tr>
                  <!-- LADO FIXO -->
                  <td colspan="2">
                     <input style="width: 100%" id="vaporladofixo5" name="vaporladofixo5">
                  </td>
                  <td colspan="1">
                     <input type="radio" id="fixoAr" name="fixoSteam" value="Ar">
                     <label for="fixoAr">Bar. Ar Comprimido</label>
                  </td>

                  <!-- LADO MOVEL -->
                  <td colspan="2">
                     <input style="width: 100%" id="vaporladomovel5" name="vaporladomovel5">
                  </td>
                  <td colspan="1">
                     <input type="radio" id="movelAr" name="movelSteam" value="Ar">
                     <label for="movelAr">Bar. Ar Comprimido</label>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <!-- FIM PERIFÉRICOS -->
   </div>

   <br>
   <button class="btn btn-primary">Cadastrar</button>
</form>

<script>
   function validateForm() {
      var molde = document.forms["pamForm"]["molde"].value;
      var material = document.forms["pamForm"]["material"].value;
      if (molde === "") {
         alert("O número do Molde deve ser informado.");
         return false;
      }
      if (material === "") {
         alert("O número do Material deve ser informado.");
         return false;
      }
   }
</script>