<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container">

 
  <br>
    <div class="card">
            <div class="card-header">
                   
                        <h2>Editar Molde</h2>
                    
            </div>
            <div class="card-body">
                    <form name="moldeForm"  method="POST" action="/moldes/update" style="display: inline;" onsubmit="return validateForm()">
                            <!-- <input class="form-control" type="text" name="descricao" placeh   older="Insira um nome Para a Máquina" value="<%= molde.descricao %>"><br> -->
                            <input class="form-control" type="text" name="codigo" placeholder="Insira o número do Molde" value="<%= molde.codigo %>"><br>
                      
                            <input type="hidden" name="id" value="<%= molde.id %>">
                            

                         
                            <br>
                            <button class="btn btn-primary">Editar</button>
                     </form>
                     <form method="GET" action="/moldes" style="display: inline;">
                        <button class="btn btn-danger">Cancelar</button>
                     </form>
            </div>
           
          
    </div>
   
</div>

<script>
   function validateForm() {
      var molde = document.forms["moldeForm"]["codigo"].value;
      if (molde === "") {
         alert("O número do Molde deve ser informado.");
         return false;
      }
   }
</script>
<%- include ('../partials/footer.ejs') %>