<%- include ('../partials/header.ejs') %>
<%- include ('./sidebar.ejs') %>

<div class="container-fluid"> 
   
   <br>
   <h2>Ficha Técnica - Parâmetros</h2> 
   <h3 style="color: rgb(105, 105, 105)">Máquina <%= maquinaId %></h3> 
   <hr>   
   
   <input type="hidden" name="maquinaId"  id="maquinaId" value="<%= maquinaId %>">

   <!-- <select name="maquinas" id="maquinas"  class="form-control">
      <option value="0"> Selecione uma máquina</option>
      <% maquinas.forEach((maquina) => { %>
         <option value="1"> <%= maquina.descricao %></option>
      <% }) %>
   </select> -->

   <div id="setDate">
      <label style="font-weight: 600;" for="data">Filtrar por data:</label>
      <input type="date" id="data">
      <button class="btn btn-primary" onclick="getDate()">Enviar</button>
   </div>
   <br>

   <h5>Escolha uma forma de visualização:</h5>
   <button style='margin-right: 5px' class='btn btn-info params' onclick='tipoVisualizacao(1)'>Visualização em lista</button>
   <button class='btn btn-info params' onclick='tipoVisualizacao(2)'>Visualização em Ficha</button>

   <br>
   <div id="nav"></div>
   <br>

   <!-- <h5>Alertas Abertos : </h5>
   <br>
   <table class="table table-bordered" id="alertas"> 
      <thead>
         <tr>
            <th> Descrição dos Alertas: </th>
         </tr>
      </thead>
      <tbody>
      </tbody>
   </table>
   <br>

   <h5>Parâmetros de tempo real : </h5>
   <br>
   <table class="table table-bordered" id="parametrosReais"> 
      <thead>
         <tr>
            <th> Parâmetro </th>
            <th> Valor Mínimo </th>
            <th> Valor Máximo </th>
            <th> Último valor lido </th>             
         </tr>
      </thead>
      <tbody>
      </tbody>
   </table> -->
    
   <!-- <h5>Parâmetros De Programa: </h5> -->
   <br>

   <div id="main">
      <table class="table table-bordered" id="parametros"> 
         <thead>
            <tr>
               <th> Parâmetro </th>
               <th> Valor Mínimo </th>
               <th> Valor Máximo </th>
               <th> Último valor setado </th>             
            </tr>
         </thead>
         <tbody>
         </tbody>
      </table>
   
      <div id="ficha">
         <%- include ('../fichas/indexFicha.ejs') %>
      </div>
   </div>

   <!-- <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
         <div id="plotly"></div>
      </div>
   </div> -->

   <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
         <div class="modal-content">
            <div class="modal-body">
               <div id="plotly"></div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
         </div>
      </div>
   </div>
   

</div>
<br>
<br>

<script src=/scripts/jquery.js></script>
<script src=/scripts/acessoVfWebScript.js></script>

<%- include ('../partials/footer.ejs') %>   