<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container mt-4"> 
   <br>
   <h2>Fichas Técnicas</h2> 
   <a class="btn btn-success" href="/novaficha"> Inserir Nova Ficha Técnica</a>
   <a class="btn btn-success" href="/ficha/lista"> Lista de Fichas Técnicas</a>
   <hr>
   
   <table class="table table-bordered"> 
      <thead>
         <tr>
            <th> ID Revisão </th>
            <th> ID Ficha Técnica </th>
            <th> ID Máquina </th>
            <th> Máquina </th>
         </tr>
      </thead>
      <tbody>
         <% injetores.forEach((injetor) => { %>
            <tr>
               <td> <%= injetor.revisao %> </td>
               <td> <%= injetor.idFichaTecnica %> </td>
               <td> <%= injetor.maquinaId %> </td>
               <td> <%= injetor.maquina.descricao %> </td>
               <td> 
                  <form method="GET" action="/revisao/visualizacao/<%= injetor.revisao %>" style="display: inline;">                                     
                     <button class="btn btn-warning">Visualizar</button>
                  </form>
               </td>
           </tr>
         <% }) %>
      </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src=/scripts/FichaTecnica.js></script>
<%- include ('../partials/footer.ejs') %>