<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container">
 
  <br>
    <div class="card">
            <div class="card-header">
                   
                        <h2>Novo Alerta</h2>
                    
            </div>
            <div class="card-body">
                    <form  method="POST" action="/alertas/create">
                            <input class="form-control" type="text" name="codigo" placeholder="Insira o codigo do Alerta"><br>
                            <input class="form-control" type="text" name="descricao" placeholder="Insira uma descrição para o alerta"><br>
                            <label for="tipos">Escolha a Coleta especifica:  </label>
                            <select name="tipos" id="tipos">
                                <% tipos.forEach(tipo => { %>
                                        <option value= "<%= tipo.id %>" ><%= tipo.tipo%></option>
                                <%})%>
                       
                              </select>
    
                            <br>
                            <button class="btn btn-primary">Cadastrar</button>
                            
                        </form>
            </div>
           
          
    </div>
   
</div>

<%- include ('../partials/footer.ejs') %>