<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container">

 
  <br>
    <div class="card">
            <div class="card-header">
                   
                        <h2>Editar Produto</h2>
                    
            </div>
            <div class="card-body">
                    <form  method="POST" action="/produtos/update">
                            <input class="form-control" type="text" name="descricao" placeholder="Insira um nome Para a Máquina" value="<%= produto.descricao %>"><br>
                            <input class="form-control" type="text" name="codigo" placeholder="Insira um código Para a Máquina" value="<%= produto.codigo %>"><br>
                      
                            <input type="hidden" name="id" value="<%= produto.id %>">
                            

                         
                            <br>
                            <button class="btn btn-primary">Editar</button>
                        </form>
            </div>
           
          
    </div>
   
</div>

<%- include ('../partials/footer.ejs') %>