<%- include ('../partials/header.ejs') %>
<%- include ('../partials/sidebar.ejs') %>

<div class="container"> 

    <hr>
    <h2>Clientes</h2> 
    <a class="btn btn-success" href="/clientes/new"> Inserir Novo Cliente</a>
    <hr>

    <table class="table table-bordered"> 
        <thead>
            <tr>
                <th> ID </th>
                <th> Nome </th>
                <th> Código </th>
       
            </tr>
        </thead>
        <tbody>

           <% clientes.forEach(cliente => { %>
            <tr>
                <td> <%= cliente.id %> </td>
                <td> <%=cliente.nome %>  </td>
                <td> <%=cliente.codigo %>  </td>
         
                <td> 
                    <form method="GET" action="/clientes/edit/<%= cliente.id %>" style="display: inline;">                                     
                            <button class="btn btn-warning"> Editar</button>
                    </form>
                    
                    <form method="POST" action="/clientes/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)"> 
                            <input type="hidden" name="id" value="<%= cliente.id %>">
                            <button class="btn btn-danger"> Remover</button>
                    </form> </th>
                </td>
            </tr>

           <% }) %> 
           
           
        </tbody>


    </table>

</div>

<script>

    function confirmarDelecao(event,form){
        event.preventDefault();
        var decision = confirm("Você quer deletar este Cliente?");
         if(decision){
             form.submit();
         }

    }

</script>


<%- include ('../partials/footer.ejs') %>